body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Página de contato */
.contato {
	width: 940px;
	margin: 40px auto;
}

.contato label, .input-group legend {
	display: block;
	margin: 0 0 5px;
	font-size: 20px;
}

.campo-padrao, textarea {
	display: block;
	margin: 0 0 30px;
	padding: 10px 20px;
	width: 50%;
	border: 1px solid #aaa;
}

.input-group {
	margin: 0 0 20px;
}

.newsletter {
	margin: 0 0 20px;
}

.botao {
	margin: 20px 0 0;
	width: 30%;
	padding: 10px 20px;
	font-size: 24px;
	display: inline-block;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);	
}

.funcionamento {
	width: 940px;
	margin: 0 auto 40px;
}

table {
	margin: 10px 0 0;
}

th  {
	background: #777777;
	color: #FFFFFF;
}


td, th {
	border: 1px solid #000000;
	padding: 5px 20px;
}

main { /* Ao remover os estilos de main, a página espicha ocupando de lado a lado.
	E deixa de se comportar como um bloco.*/
	
}

form {
	margin: 40px 0;
}

form label, form p {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao { 
	display: block;
	margin: 0 0 20px;
	font-size: 15px;
	padding: 10px 25px;
	width: 50%;
}

/* o block foi bom para criar o estilo do input do tipo texto, área, submit.
Mas para o input do tipo radio isso atrapalha.
Então, para deixar mais específico é só criar uma classe para os inputs que considerar padrão,
E deixar o radio sem a classe.*/

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all; 
	/*aqui a transição de cor do botão enviar ao passar o mouse por cima se torna de 1 segundo.*/
	cursor: pointer; /*aqui define que o mouse por cima muda e seta para mãozinha*/
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.2)  /*aqui vai aumentar em 20% o tamanho do botão de enviar*/
	/* transform: rotate(70deg) é outra propriedade que nesse caso vai girar o botão, sempre dado em graus, por isso "deg".*/
	/*Atentar que a última propriedade sempre sobrescreve a anterior, porque no CSS a leitura é feita de baixo pra cima*/
	/*Se quiser que as propriedades ocorram juntas, tem que colocar uma após a outra*/
}

table {
	margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS da página inicial */

.banner {
	width: 100%;
}

.titulo-principal { 
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	/*medidas proporcionais no CSS, com percentual é uma medida proporcional. 
	mas uma fonte que seja o dobro da fonte padrão. Então, indepedente do tamanho que será a fonte padrão
	se usará em, que é relativo a medida proporcional em pixels. 
	Ou seja, se tenho uma fonte de X pixels, quando eu usar o "em", o CSS entende que esse é em vai 
	referente à fonte (que é dada em pixels)*/
	/*text-shadow: 2px 2px #FF0000; Para criar sombra em letras*/
}

/*.titulo-principal::first-letter { /*titulo-principal é o elemento, e first-letter é o psudo-elemento
	font-weight: bold;
}

p::first-line {
	font-style: italic; aqui faz a primeira linha de todos os parágrafos ficarem todo em itálico, também com pseudo-elemento
}*/

.titulo-principal:before {
	content: "[";
}

.titulo-principal:after {
	content: "]";
} 


.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0; /* cima, direita, baixo, esquerda */
	/*o float é um comportamento que descola a imagem da paǵina,
	mas deixa a sombra dela abaixo, de modo que é possível o texto subir 
	e ocupar a mesma linha da imagem, porém sem invadir o espaço da sombra da imagem.
	ATENÇÃO: o float quando usado vai afetar o comportamento de todos os elementos abaixo dele,
	para evitar que isso aconteça é necessário acrescentar a instrução "clear" antes do float */
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#888888);
	/*o gradiente pode ser linear, e variar em degraus, ou seja, assim pode ser colocado na diagonal.
	Tambeḿ pode ser do tipo "radial", que faz gradiente em círculo, e nessa caso não tem degraus.
	E se colocar a porcentagem após a cor, ainda define quantos porcento quer que ocupe na página.*/	
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	/*o inline-block interpreta tudo, até o espaço vazio no código que esteja antes dele na linha do código.
	Se a intenção for deixar um conteúdo do inline-block ao lado do outro, como é o caso dessa imagem,
	será preciso colocar esse conteúdo (imagem), na mesma linha do código do conteúdo que eu quero que fique ao lado*/
	vertical-align: top; 
	/* Esse irá colocar a lista mais acima, do contrário ela fica no canto esquerda da imagem.*/
}

.itens {
	line-height: 1.5; /*altera a altura da linha*/
}

/*.itens:first-child { Esse é um pseudo-elemento. Ele tem algumas opções. Por exemplo, pode ser dito exatamente a posição do elemento 
	então first, second, etc. Ou também pode usar o nth-child(), e nesse vai colocar o número da posição entre os parêntetes.
	Ou também pode usar 2n, que simboliza todos os pares.
	font-weight: bold;
}*/

.itens:before {
	content: "✭";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400 ms;
	box-shadow: 10px 10px 5px #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.video {
	width: 560px;
	margin: 2em auto;

}



/*main > p { /* Aqui sefor "main p" significa todos os p dentro de main
	Se colocar "main > p" significa os filhos diretos.
	background: red; 
}*/

@media screen and (max-width: 480px) {
	body {
		background:red
	}
}